body, html {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  justify-content: center;
  display: flex;
  background-color: #0f0f0f;
}

h1, h2, p {
  margin: 0;
  color: white;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
  width: 80%;
  padding: 0 15px;
}

.content{
  padding: 0;
}

.banners{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner{
  padding: 45px 0;
}

.banner h1{
  font-size: 40px;
}

.banner h2{
  font-size: 45px;
}

.banner h2 span{
  font-size: 65px;
  transition: all 0.3s;
}

.banner h2 span:hover{
  font-size: 65px;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 8px aquamarine, 0 0 8px aquamarine, 0 0 8px aquamarine;
}

.banner p{
  font-size: 35px;
}

.about_me {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
}

.about_text {
  flex-grow: 1; 
  flex-basis: 80%; 
  padding: 10px; 
  text-align: center;
}

.about_buttons {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 10px; 
}

.about_buttons button {
  padding: 10px;
  background-color: #d6d4d4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  animation-duration: 1s;
}

.about_buttons button:hover {
  background-color:aquamarine;
  color: black;
  font-weight: bold;
  box-shadow:  0 0 8px aquamarine, 0 0 8px aquamarine, 0 0 8px aquamarine;
}

.project{
  padding: 15px 0;
  text-align: center;
}

.project_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.project_card, .project_card_besar {
  width: 250px;
  height: 250px;
  background-color: #f0eded;
  border: 1px solid #ccc;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation-duration: 1000ms;
  position: relative;
}

.project_card_besar {
  width: 500px;
}

.project_card_besar img,
.project_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.project_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}

.project_overlay h3{
  color: white;
}

.project_overlay .view_button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.project_overlay .view_button:hover {
  background-color:aquamarine;
  color: black;
  font-weight: bold;
  box-shadow:  0 0 8px aquamarine, 0 0 8px aquamarine, 0 0 8px aquamarine;
}

.project_card:hover .project_image {
  filter: blur(4px);
}

.project_card:hover .project_overlay {
  opacity: 1;
}

.project_card_besar:hover .project_image {
  filter: blur(4px);
}

.project_card_besar:hover .project_overlay {
  opacity: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
}

.button_project {
  margin: 15px;
  padding: 10px;
  background-color: #d6d4d4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 40%;
  margin: 0 auto;
}

.button_project:hover{
  background-color:aquamarine;
  color: black;
  font-weight: bold;
  box-shadow:  0 0 8px aquamarine, 0 0 8px aquamarine, 0 0 8px aquamarine;
}

/* Contact Start */
.contact {
  display: flex;
  flex-direction: column;
  width: 50%; 
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto; 
  align-items: center; 
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 100%; 
  padding: 35px 0;
}

.contact label {
  margin-bottom: 5px;
  color: white;
}

.contact input,
.contact textarea {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box; 
  background-color: #3b3a3a;
  color: white;
}

.contact button {
  padding: 10px;
  background-color: #d6d4d4;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 40%;
  margin: 0 auto; 
  font-weight: bold;
}

.contact button:hover {
  background-color:aquamarine;
  color: black;
  font-weight: bold;
  box-shadow:  0 0 8px aquamarine, 0 0 8px aquamarine, 0 0 8px aquamarine;
}

/* Contact End */

.footer{
  padding: 15px 0;
  color: white;
} 

.medsos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-footer a {
  text-decoration: none;
  color: white;
}
